.among {
  position: absolute;
  width: 100vw;
  height: 50vh;
  top: 45%;
  overflow: hidden;
  figure {
    width: 2vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      translate: -2vw 0;
      animation: rotate 30s linear infinite;
    }
  }
}
@keyframes rotate {
  0% {
    translate: -2vw 0;
    transform: rotate(0deg);
  }
  80% {
    translate: 102vw 40vh;
    transform: rotate(720deg);
  }
  100% {
    translate: 102vw 40vh;
    transform: rotate(720deg);
  }
}
