.image__wrapper {
  position: absolute;
  right: 10%;
  z-index: 2;
  figure {
    position: relative;
    width: 8vw;
    transform: scaleX(-1);
    overflow: visible;
    &:hover {
      filter: drop-shadow(0 0 0.2rem #fff);
    }
    @for $i from 1 through 100 {
      $multiple: $i * 5;
      &[data-count="#{$multiple}"] {
        animation: play 0.9s steps(1, end) 1;
      }
      &[data-count="#{$multiple}"] img {
        opacity: 0;
      }
    }
    img {
      clip-path: inset(1px);
      width: 100%;
      height: 100%;
      will-change: transform;
      cursor: pointer;
      animation: up_down 10s linear infinite alternate;
      &[data-isclick="true"] {
        rotate: 360deg;
        transform-origin: center center;
        transition: rotate 0.5s linear;
      }
    }
    div {
      figcaption {
        position: absolute;
        font-size: 2em;
        top: -120px;
        left: -100px;
        will-change: transform;
        animation: up_down2 10s linear infinite alternate;
        span {
          text-align: center;
          display: block;
          font-size: 0.5em;
          color: #fff;
        }
      }
      svg {
        position: absolute;
        top: -65px;
        left: 20px;
        width: 70px;
        fill: #fff;
        will-change: transform;
        animation: up_down3 10s linear infinite alternate;
      }
    }
  }
}

@keyframes up_down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}
@keyframes up_down2 {
  0% {
    transform: translateY(-50px) scaleX(-1);
  }
  100% {
    transform: translateY(50px) scaleX(-1);
  }
}
@keyframes up_down3 {
  0% {
    transform: translateY(-50px) scaleX(-1) rotate(-75deg);
  }
  100% {
    transform: translateY(50px) scaleX(-1) rotate(-75deg);
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
@keyframes play {
  0% {
    // background: url("../../public/img/index/boom.gif") no-repeat center center / cover;
    background: url("../../public/img/index/boom.gif") no-repeat center center / cover;
  }
  100% {
    background: none;
  }
}
