.container {
  position: relative;
  width: 100vw;
  height: 150vh;
  margin: 5vh 0 15vh 0;
  opacity: 0;
  z-index: 2;
  &__active {
    @extend .container;
    will-change: margin, opacity;
    animation: show 1s forwards;
  }
  .allProjects {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1200px;
    transform-style: preserve-3d;
    will-change: perspective-origin;
    perspective-origin: center center;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    margin: 7vh 0 15vh 0;
  }
  100% {
    opacity: 1;
    margin: 5vh 0 15vh 0;
  }
}
