.footer {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  mix-blend-mode: difference;
  padding: 16.6666666667vw 3.3333333333vw 2.0833333333vw;
}
