.footer__title {
  .heading {
    font-size: 4.1666666667vw;
    line-height: 1.05;
    letter-spacing: -0.06em;
  }
  .caps {
    margin-top: 0.5em;
    text-align: right;
    text-transform: uppercase;
  }
}
