.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cursor__img {
  width: 250px;
  height: 200px;
  mix-blend-mode: difference;
  opacity: 0;
  scale: 0;
  aspect-ratio: 1/1;
  border-radius: 5px;
  will-change: opacity, scale;
  object-fit: cover;
  transition: opacity 0.4s linear, scale 0.4s linear;
  &[data-mouse="true"] {
    opacity: 1;
    scale: 1;
  }
}
