.bg__wrapper {
  // background-color: #0a0a0a;
  // &[data-theme="/projects"] {
  //   background-color: #6dd3e7;
  // }
  .container {
    padding: 8.3333333333vw 0 0;
    position: relative;
    width: 100%;
  }
}
