.bg__wrapper {
  &[data-theme="/projects"] {
    overflow: hidden;
  }
  &[data-theme*="/projects/detail"] .container {
    padding: 0;
  }
}
.container {
  padding: 8.3333333333vw 0 0;
  position: relative;
  width: 100vw;
}
