@function ranFn($min, $max) {
  @return $min + random() * ($max - $min);
}

.sky__wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  @mixin clouds($size, $duration, $position) {
    border-radius: 10px;
    position: relative;
    margin: 50px 0 0 $position;
    width: 54px;
    height: 5px;
    background: #f7e7eb;
    scale: $size;
    animation: clouds $duration linear infinite;
    will-change: transform, opacity;
    @content;
    span {
      box-shadow: inset -2px -3px 0 0 #f7e7eb;
      position: absolute;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      left: -3px;
      bottom: 0;
      background: #fafbf0;
      z-index: 10;
      &:first-child {
        & + span {
          scale: 1.6;
          margin: 0 0 4px 13px;
          z-index: 9;
          & + span {
            scale: 2.4;
            margin: 0 0 9px 32px;
            z-index: 8;
            & + span {
              scale: 1.3;
              margin: 0 0 2px 50px;
              z-index: 7;
            }
          }
        }
      }
    }
  }
  $num-clouds: 20;

  @for $i from 1 through $num-clouds {
    $size: ranFn(0.5, 4);
    $duration: ranFn(60s, 240s);
    // $duration: ranFn(5s, 10s);
    $position: ranFn(0%, 100%);

    .cloud#{$i} {
      @include clouds($size, $duration, $position);
    }
  }
}

@keyframes clouds {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  0.5% {
    opacity: 1;
  }
  99.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-250px);
  }
}
